<div [formGroup]="form" class="col-lg-12">
  <label [attr.for]="inputField.name"> {{inputField.label}}</label>

  <div [ngSwitch]="inputField.type" >

    <input *ngSwitchCase="InputType.TEXT" [formControlName]="inputField.name" class="form-control"
           [id]="inputField.name" [type]="inputField.type">

    <input *ngSwitchCase="InputType.PASSWORD" [formControlName]="inputField.name"
           [id]="inputField.name" [type]="inputField.type">

    <input *ngSwitchCase="InputType.RADIO" [formControlName]="inputField.name"
           [id]="inputField.name" [type]="inputField.type">

    <input *ngSwitchCase="InputType.CHECKBOX" [formControlName]="inputField.name"
           [id]="inputField.name" [type]="inputField.type">

    <input *ngSwitchCase="InputType.DATE" [formControlName]="inputField.name"
           [id]="inputField.name" [type]="inputField.type">

    <input *ngSwitchCase="InputType.HIDDEN" [formControlName]="inputField.name"
           [id]="inputField.name" [type]="inputField.type">

    <input *ngSwitchCase="InputType.FILE" [formControlName]="inputField.name"
           [id]="inputField.name" [type]="inputField.type">

    <canvas *ngSwitchCase="InputType.CANVAS" [formControlName]="inputField.name"
            [id]="inputField.name" width="200" height="100"></canvas>

    <select [id]="inputField.key" *ngSwitchCase="InputType.SELECT" [formControlName]="inputField.key">
      <option *ngFor="let opt of inputField.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div *ngIf="formControl.invalid && (formControl.dirty || formControl.touched)" class="fc-error">
    <div *ngIf="formControl.errors.required">
      Field is required.
    </div>
    <div *ngIf="formControl.errors.minlength">
      Field must be at least x characters long.
    </div>
    <div *ngIf="formControl.errors.maxlength">
      Field must be at least x characters long.
    </div>
    <div *ngIf="formControl.errors.pattern">
      Invalid Field.
    </div>
  </div>
  <!--<div class="errorMessage" *ngIf="!isValid">{{inputField.label}} is required</div>-->
</div>