<div class="col-lg-5" style="margin:auto">
  <div>{{page.id}}: {{page.title}}</div>
  <form (ngSubmit)="submitPage()" [formGroup]="form">

    <div *ngFor="let inputField of inputFields" class="form-row">
      <form-control [inputField]="inputField" [form]="form"></form-control>
    </div>

    <div class="form-row">
      <!--<button type="button">Back</button>-->
      <button type="submit" [disabled]="!form.valid">Next</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
